<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
<!--    <meta name="description" content="Tivo is a HTML landing page template built with Bootstrap to help you crate engaging presentations for SaaS apps and convert visitors into users.">-->
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
<!--	<meta property="og:image" content="" /> &lt;!&ndash; image link, make sure it's jpg &ndash;&gt;-->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Login</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="{% static 'loginstatic/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'loginstatic/css/fontawesome-all.css' %}" rel="stylesheet">
    <link href="{% static 'loginstatic/css/swiper.css' %}" rel="stylesheet">
	<link href="{% static 'loginstatic/css/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static 'loginstatic/css/styles.css' %}" rel="stylesheet">
	
	<!-- Favicon  -->
<!--    <link rel="icon" href="{% static 'loginstatic/images/favicon.png' %}">-->
</head>
<body data-spy="scroll" data-target=".fixed-top" background="https://media.istockphoto.com/id/942952674/photo/students-in-university.jpg?s=612x612&w=0&k=20&c=x4_q1yblwJne4EWsVcCpVBa7ElmusiHbJR9aqgGMaYo=">


    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Tivo</a> -->

            <!-- Image Logo -->
<!--            <a class="navbar-brand logo-image" href="index.html"><img src="{% static 'loginstatic/images/logo.svg' %}" alt="alternative"></a>-->

            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
            </button>
            <!-- end of mobile menu toggle button -->

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link page-scroll" href="index.html#header">HOME <span class="sr-only">(current)</span></a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link page-scroll" href="index.html#features">FEATURES</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link page-scroll" href="index.html#details">DETAILS</a>-->
<!--                    </li>-->

                    <!-- Dropdown Menu -->          
                    <li class="nav-item dropdown">
<!--                        <a class="nav-link dropdown-toggle page-scroll" href="index.html#video" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">VIDEO</a>-->
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
<!--                            <a class="dropdown-item" href="article-details.html"><span class="item-text">ARTICLE DETAILS</span></a>-->
<!--                            <div class="dropdown-items-divide-hr"></div>-->
<!--                            <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">TERMS CONDITIONS</span></a>-->
<!--                            <div class="dropdown-items-divide-hr"></div>-->
<!--                            <a class="dropdown-item" href="privacy-policy.html"><span class="item-text">PRIVACY POLICY</span></a>-->
                        </div>
                    </li>
                    <!-- end of dropdown menu -->

<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link page-scroll" href="index.html#pricing">PRICING</a>-->
<!--                    </li>-->
                </ul>
<!--                <span class="nav-item">-->
<!--                    <a class="btn-outline-sm" href="log-in.html">LOG IN</a>-->
<!--                </span>-->
            </div>
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <header id="header" class="ex-2-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Login</h1>
                    <!-- Sign Up Form -->
                    <div class="form-container">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="ladmission" name="uname"required>
                                <label class="label-control" for="ladmission">Username</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control-input" id="lpassword" name="pass" required>
                                <label class="label-control" for="lpassword">Password</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control-submit-button">LOG IN</button>
                            </div>
                            <div class="form-message">
                                <div id="lmsgSubmit" class="h3 text-center hidden"></div>
                            </div>
                        </form>
                    </div> <!-- end of form container -->
                    <!-- end of sign up form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->

        <p>You don't have a Account? Then please register as <a class="white" href="{% url 'reg_stu' %}">
            STUDENT</a>
            <a class="white" href="{% url 'par_reg' %}">PARENT</a></p>
        <div>
        {% for message in messages %}
        <div class="alert alert_info" role="alert">
            <strong>{{message}}</strong>
        </div>
        {% endfor %}
    </div>
    </header> <!-- end of ex-header -->

    <!-- end of header -->


    <!-- Scripts -->
    <script src="{% static 'loginstatic/js/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{% static 'loginstatic/js/popper.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="{% static 'loginstatic/js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
    <script src="{% static 'loginstatic/js/jquery.easing.min.js' %}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{% static 'loginstatic/js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
    <script src="{% static 'loginstatic/js/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
    <script src="{% static 'loginstatic/js/validator.min.js' %}"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="{% static 'loginstatic/js/scripts.js' %}"></script> <!-- Custom scripts -->
</body>
</html>