{% extends 'student_page.html' %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    * {
    margin: 0;
    padding: 0
}

body {
    background-color: #ffff
}

.card {
    width: 350px;
    background-color: #ffff;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.8)
}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 80%
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #ffff
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #ffff;
    color: #ffff;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #050505;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}
</style>
<section style="background-color: #fff;">
  <div class="container py-5">


    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{student1.profile_image.url}}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
<!--            <h5 class="my-3">{{student1.name}}</h5>-->
<!--            <p class="text-muted mb-1">{{student1.Email_address}}r</p>-->
<!--            <p class="text-muted mb-4">{{student1.registration_id}}</p>-->
<!--            <p class="text-muted mb-4">{{student1.Address}}</p>-->
<!--            <p class="text-muted mb-4">{{student1.contact_no}}</p>-->
                       <div class="d-flex justify-content-center mb-2">
              <a href="{% url 'student_update_profile' %}">Update your profile</a>
<!--              <button type="button" class="btn btn-outline-primary ms-1">Message</button>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{student1.name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{student1.Email_address}}</p>
              </div>
            </div>
            <hr>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{student1.contact_no}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{student1.Address}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}