{% extends 'admin.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">FEE</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>sl No.</th>
                          <th>hostel_name</th>
                          <th>mess_bill</th>
                          <th>room_rent</th>
                          <th>amount</th>
<!--                          <th>update/delete</th>-->
                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                          <td class="py-1">{{forloop.counter}}</td>
                          <td>{{i.hostel_name}}</td>
                          <td>{{i.mess_bill}}</td>
                          <td>{{i.room_rent}}</td>
                          <td>{{i.amount}}</td>
<!--                          <td>-->
<!--                            {% if i.booking_status == 0 %}-->
<!--                            <a class="btn btn-danger"href="#">Pending</a>-->
<!--                            {% elif i.booking_status == 1 %}-->
<!--                            <p class="btn btn-success">booked</p>-->
<!--                             {% elif i.booking_status == 2 %}-->
<!--                            <p class="btn btn-danger">Rejected</p>-->
<!--                            {% endif %}-->
<!--                          </td>-->
<!--                          <td><a class="btn btn-success" href="{% url 'student_update_room' i.id %}">update</a>-->
<!--                            <a class="btn btn-danger" href="{% url 'delete_room' i.id %}">Delete</a>-->
<!--                          </td>-->

                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}