{% extends 'admin.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">notification</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>sl No.</th>
                          <th>date</th>
                          <th>massege</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                          <td class="py-1">{{forloop.counter}}</td>
                          <td>{{i.date}}</td>
                          <td>{{i.massege}}</td>
                       <td><a class="btn btn-success" href="{% url 'notification_update' i.id %}">Update</a>
                        <a class="btn btn-danger" href="{% url 'notification_delete' i.id %}">Delete</a>
                         </td>

                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}